---
import logo from '../assets/logo.png';
---

<header class="w-screen print:hidden backdrop-blur-sm fixed top-0 bg-gray-600/10 z-50 border-b border-gray-700">
	<div class="flex lg:w-5xl lg:mx-auto px-4 py-2 lg:mx-auto flex flex-col lg:flex-row items-center lg:items-end">
		<a href="/" class="flex flex-col lg:flex-row gap-2 items-center lg:items-end">
			<!-- <img src={logo.src} alt="jarbcave.com logo" class="w-20" /> -->
			<span class="uppercase font-semibold text-lg text-emerald-300">jarbcave.com</span>
		</a>
		<nav class="lg:ml-auto">
			<ul class="flex gap-8 font-semibold">
				<li><a href="/cv">CV</a></li>
				<!-- <li><a href="/projects">Proyectos</a></li>
				<li><a href="/blog">Blog</a></li> -->
			</ul>
		</nav>
	</div>
</header>