---
const { title, score } = Astro.props;
---
<div class="flex flex-col gap-2 items-center">
  <h3 class="font-semibold">{title}</h3>
  <div class="relative w-20 h-20">
      <svg class="size-full -rotate-180" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
        <!-- Background Circle -->
        <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-gray-200 dark:text-neutral-700" stroke-width="4"></circle>
        <!-- Progress Circle -->
        <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-emerald-300" stroke-width="4" stroke-dasharray="100" stroke-dashoffset={-(score-100)} stroke-linecap="round"></circle>
      </svg>
      <div class="absolute flex flex-col items-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <span class="font-semibold text-emerald-300">{score}</span>
        <span class="text-xs text-gray-400 border-t">100</span>
      </div>
  </div>

  <div class="text-xs pt-2">
    <slot />
  </div>
</div>